.play {
    background-image: url("../img/backgroundUno.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
}


.button-play {
    cursor: pointer;

    position: absolute;
    top: 85%;
    right: 45%;

    width: 300px;
    height: 100px;

    border: 2px solid black;
    border-radius: 15px;
    padding: 0.8em 1.8em;
    overflow: hidden;
    background-color: black;

    transition: .3s;
    z-index: 1;


    color: #17C3B2;
    font-family: inherit;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.button-play::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button-play:hover::before {
    width: 100%;
}

.button-play:hover {
    color: #111;
}