.play {
    background-image: url("../img/backgroundUno.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
}

.button-play {
    cursor: pointer;
    margin: 15px;
    position: absolute;
    top:85%;
    right: 45%;
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 1.7em;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.button-play:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.button-play:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}